{% extends "../base/base.html" %}
{% block title %}Pump it{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
<div class="container">
  <div class="center">
<button type="button" class="btn btn-outline-primary"> <a href="{% url 'workout_monday' %}">Monday</a> </button>
<button type="button" class="btn btn-outline-secondary"> <a href="{% url 'workout_tuesday' %}">Tuesday </a> </button>
<button type="button" class="btn btn-outline-success"> <a href="{% url 'workout_wednesday' %}">Wednesday </a> </button>
<button type="button" class="btn btn-outline-danger"> <a href="{% url 'workout_thursday' %}">Thursday </a> </button>
<button type="button" class="btn btn-outline-warning"> <a href="{% url 'workout_friday' %}">Friday </a> </button>
<button type="button" class="btn btn-outline-info"> <a href="{% url 'workout_saturday' %}">Saturday </a> </button>
<button type="button" class="btn btn-outline-dark"> <a href="{% url 'workout_sunday' %}">Sunday </a> </button>
</div>
</div>



      {% endblock template %}

