{% extends "./baseWorkout.html" %}
{% block title %}Pump Wednesday{% endblock %}

{% block content %}
{% load static %}


<h1>Fullbody</h1>

<b>Squat, Dumbbell</b>
<p>4 sæt x 8-10 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Squat.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Vi starter med lidt til bentøjet! Kør 8-10 reps i alle sæt, men på vej
        ned skal du have 4 sekunder,
        så virkelig hold igen på vej ned og så eksplosivt op!"</p>
</div>


<b>Bench Press</b>
<p>4 sæt x 8-10 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/BenchPress.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "I dag kører vi lidt færre reps i bænkpres end sidst,
        det er fordi du skal køre lidt tungere end sidst
        så du skal være presset! Gå selvfølgelig
        kun til failure hvis du har en spotter."</p>
</div>




<b>Shoulder Press, Dumbbell, Seated</b>
<p>3 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/ShoulderPressSeated.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Og lidt til skulder! Her kører du samme
        som i dine squats med 4 sekunder på vej
        ned i den excentriske fase, så meget
        kontrolleret! I bunden skal du lige have
        to sekunders hold før du presser op igen!"</p>
</div>


<b>Bent Over Row, Dumbbell</b>
<p>4 sæt x 8-10 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/BentOverRow_Dumbbell.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Nogle roooows! Her skal du fokusere
        på at komme helt ned og strække armene
        ud så du virkelig strækker i dine lats,
        og så helt op og klem, tænk på at klem
        en blyant mellem skulderbladene!"</p>
</div>

<b>Superset</b>
<p>3 runder<br>
Tricep Extension, Dumbbell, Lying: 3 sæt x 12-15 reps<br>
Bicep Curl, Standing, Dumbbell: 3 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/TricepExtension_Dumbbell.png' %}"
         width="500" height="200" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/BicepCurlStanding_Dumbbell.png' %}"
         width="500" height="250"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Tryk i armene! Derfor i den høje ende
        af reps her. Kør 12-15 stykker, kør
        meget kontrolleret og HUSK at hold overarmene
        helt stille! Her kan du også bruge din stang."</p>
</div>


<b>Superset</b>
<p>3 runder<br>
Crunch: 3 sæt x 10-20 reps<br>
Calf Raise, Standing, Bodyweight: 3 sæt x 10-20 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Crunch.png' %}"
         width="500" height="200" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/CalfRaise.png' %}"
         width="500" height="250"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Sidste supersæt, til læg og mave!
        Har skrevet 10-20 reps fordi du i begge øvelser skal have så mange reps som muligt!
        I dine calf raises skal du tage en håndvægt i hånden og så
        helt ned og stræk og helt op og klem. Find meget gerne
        noget at stille dig på så du virkelig kan strække i bunden!"</p>
</div>

{% endblock content %}