{% extends "./baseWorkout.html" %}
{% block title %}Pump Wednesday{% endblock %}

{% block content %}
{% load static %}


<b>Squat, Wall, Dumbbell</b>
<p>5 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/SquatWall.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Det her er en sjov og nice øvelse.
        Tag et håndklæde ved ryggen så du kan
        "kører" op og ned ad væggen.Sørg for du
        kommer helt ned i et kontrolleret tempo,
        og så squeezer du alt du kan op fra bunden og så direkte ned igen.
        Her der skal du have 12-15 reps, og nøjes med 45 sek. pause"</p>
</div>


<b>Reverse Lunge, Dumbbell</b>
<p>4 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/ReverseLunge.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Her skal du have lunges, men hvor du træder tilbage
        i stedet for frem. Vi tager lige to øvelser til ballerne ;)
        Og tag gerne et lidt længere skridt tilbage sådan at du rammer ballerne mere.
        12-15 reps her på HVERT ben og det skal du gentage i 4 sæt."</p>
</div>


<b>Glute Bridge, Bodyweight</b>
<p>4 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/GluteBridge.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "VI skal også lave glute bridges!
        Endelig tag din håndvægte og smid ovenpå dig så det er svære sådan!
        Ballerne er den stærkeste muskel vi har, så den kan
        klarer ekstremt meget pres, så endelig brug en masse vægt her!
        Så eksploderer du op og squeezer alt du overhovedet kan på
        toppen af hvert rep, og så kontroller den på vej ned igen. 4 sæt af 12-15 reps her"</p>
</div>


<b>Walking Lunge, Dumbbell</b>
<p>3 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/WalkingLunge.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Så skal du have nogle walking lunges, 12 skridt på
        hvert ben! Tag mellemlange skridt."</p>
</div>



<b>Squat, Dumbbell</b>
<p>4 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Squat.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Sidste for i dag inden vi skal slutte med læg.
        Det her bliver grumt!
        Du skal have 12-15 reps,
        MEN du skal bruge både 4 sekunder
        op i den concentriske fase og 4 sekunder
        ned i den excentriske fase, det her brænder
        virkelig voldsomt, så den er super god ;)
        Her får du 60 sek. pause efter hvert sæt."</p>
</div>




<b>Calf Raise, Standing, Bodyweight</b>
<p>4 sæt x reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/CalfRaise.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Her der har jeg skrevet 0 ved reps og 0
        ved pause. Og det er fordi at her der skal
        du have 100 reps, så "hurtigt" du kan.
        Du skal som sagt ramme 100 reps, hvergang
        du IKKE kan lave ét rep mere, så holder du
        10-15 sek. pause og så fortsætter du hvor du slap!"</p>
</div>


{% endblock content %}