{% extends "./baseWorkout.html" %}
{% block title %}Pump Tuesday{% endblock %}

{% block content %}
{% load static %}

<h1>Lower 1</h1>
<b>Superset</b>
<p>4 runder<br>
Plie Squat: 4 sæt x 12-15 reps<br>
Jump Squat, Bodyweight: 4 sæt x 10-20 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/PlieSquat.png' %}"
         width="200" height="180" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/JumpSquat_Bodyweight.png' %}"
          width="200" height="180"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "12-15 reps i dine plie squats
        Ingen lockout i toppen og ingen pause i bunden,
        kontinuerligt tempo op og ned. Jump squats, der laver
        du så mange du kan uden pause,
        så ligeså snart du skal pause for at "få vejret" så er sættet slut
        45 sekunders pause imellem hvert sæt"</p>
</div>


<b>Straight Leg Deadlift, Dumbbell</b>
<p>4 sæt x 12-15 reps </p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/StraightLegDeadlift_Dumbbell.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Her skal vi have nogle stiv-benet
        dødløft og her der skal du holde den imellem 12-15 reps,
        Det er vigtigt du på hvert rep i bunden holder strækket
        der i 1,5-2 sekunder inden du squeezer op igennem baglår / baller
        og klemmer på toppen og så ned i en kontrolleret
        excentrisk fase på et par sekunder igen."</p>
</div>


<b>Bulgarian Split Squat, Dumbbell</b>
<p>4 sæt x 12-20 reps </p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/BulgarianSplitSquat_Dumbbell.png' %}"
         width="220" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Her kan du med fordel sætte foden op på en stol eller lignende.
        Super fed øvelse til gode og stærke lårbasser & en solid bagdel :-D
        De 2 første sæts der kører du 20 reps hvor du holder 2 sekunders
        isohold i bunden af hvert rep (Isohold er hvor du holder spændet
        i bunden, dvs. LIGE inden du rammer med knæet med fuld pres på låret)
        3-4 sæt:
        De 2 sidste sæt der skal du ramme 12-15 reps,
        MEN det skal være tungere og her der skal der
        holdes 5 sekunders isohold i bunden af hvert rep ;)"</p>
</div>


<b>Leg Curl, Lying, Dumbbell</b>
<p>4 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/LegCurl_Lying.png' %}"
         width="280" height="150"  alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Lidt til baglåret også!
        Her der skal du ramme 12-15 reps med et kontrolleret
        tempo op og ned, lige inden du rammer gulvet
        så squeezer du alt du kan op igen og klemmer i baglårene på toppen!"</p>
</div>


<b>Calf Raise, Single Leg, Bodyweight</b>
<p>4 sæt x 10-25 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/CalfRaise.png' %}"
         width="200" height="150"  alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Sidste for i dag.
        Det er til dine lægge og hvis du har en step-up
        bænk eller andet du kan træde op på så endelig!
        Sørg for at du kommer HELT op og squeezer i din læg på
        toppen af hvert rep & kommer HELT ned og strækker din læg HELT ud.
        Det er en god idé som jeg nævnte tidligere at du
        finder noget at træde "op på" fordi så ville du kunne komme ned og strække din læg helt ud!
        Så mange reps du kan på første ben, så skifter du tager samme reps, direkte tilbage til første ben & så videre!
        4 sæt på hver læg uden pause imellem!</p>
</div>



{% endblock content %}