{% extends "./baseWorkout.html" %}
{% block title %}Pump Wednesday{% endblock %}

{% block content %}
{% load static %}

<h1>Upper 2</h1>
<b>Superset</b>
<p>4 runder<br>
Dip, Two Benches: 4 sæt x reps<br>
Hammer Curl, Standing: 4 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Dip_TwoBenches.png' %}"
         width="300" height="180" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/HammerCurl_Standing.png' %}"
          width="200" height="180"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "I dag starter vi med armene.
        Jeg har skrevet 0-20 reps fordi jeg vil have du skal tage så mange du overhovedet kan!
        Brug sofaen og en stol f.eks. eller 2 stole.
        Du kan bruge håndvægtene og ligge i skødet som ekstra vægt.
        Sørg for at komme helt ned og helt og.
        Herefter 10-12 reps i dine hammer curls!"</p>
</div>


<b>Bench Press</b>
<p>4 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/BenchPress.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Så skal vi bænkpresse! Du skal have 4 sæt a
        10-12 reps og du skal køre en laangsom excentrisk
        fase! Stig lidt i vægt for hvert sæt."</p>
</div>


<b>Row, Tripod, Dumbbell</b>
<p>3 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/RowTripod_Dumbbell.png' %}"
         width="220" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Her skal du ramme 10-12 reps du kan støtte med
        modsatte hånd på sofalæn eller stol.
        Træk med dine albuer her og squeeze i dine lats på toppen
        og sørg for at kontrollér den excentriske fase på vej ned,
        og lad dine lats komme helt ned og "hænge" inden du trækker op igen."</p>
</div>



<b>Superset</b>
<p>4 runder<br>
Push Up: 4 sæt x reps<br>
Plank: 4 sæt x 1 min</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/PushUp.png' %}"
         width="300" height="180" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Plank.png' %}"
          width="200" height="180"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Det her supersæt er modbydeligt :-D
        Jeg har endnu engang skrevet 0-20 reps,
        fordi du skal tage så mange du kan af armbøjninger,
        er "normale" armbøjninger for svære her til start, så støt på knæene!
        Efter dine armbøjninger så skal du direkte over
        i planken, den holder du 1 minut og så armbøjninger
        igen, dette skal gentages af 4 sæt!"</p>
</div>


<b>Superset</b>
<p>4 runder<br>
Rear Delt Fly, Bent Over, Standing, Dumbbell: 4 sæt x 12-15 reps<br>
Front Raise, Dumbbell, Standing: 4 sæt x 12-15 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/RearDeltFly_Bent Over.png' %}"
         width="300" height="180" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/FrontRaise.png' %}"
          width="200" height="180"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "12-15 reps i begge øvelser, sørg for det er med
        absolut perfekt form, ikke noget med at svinge i
        kroppen eller noget, da det er 2 øvelser
        som kræver ekstremt meget "opmærksomhed" på formen før de er effektive!
        60 sek. pause imellem hvert sæt"</p>
</div>




<b>Leg Raise, Floor</b>
<p>5 sæt x reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/LegRaise.png' %}"
         width="300" height="100"  alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Sidste for i dag og det bliver leg raises!
        Der skal hamres 5 sæt af så mange reps du kan
        og sørg for at du holder benene MEGET igen
        på vej ned, og virkelig mærker spændet i dine abs.
        Efter hvert sæt der holdes der 45 sek. pause"</p>
</div>

{% endblock content %}