{% extends "./baseWorkout.html" %}
{% block title %}Pump Wednesday{% endblock %}

{% block content %}
{% load static %}

<h1>Upper 2</h1>
<b>Superset</b>
<p>4 runder<br>
Dip, Two Benches: 4 sæt x reps<br>
Hammer Curl, Standing: 4 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Dip_TwoBenches.png' %}"
         width="300" height="180" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/HammerCurl_Standing.png' %}"
          width="200" height="180"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "I dag starter vi med armene.
        Jeg har skrevet 0-20 reps fordi jeg vil have du skal tage så mange du overhovedet kan!
        Brug sofaen og en stol f.eks. eller 2 stole.
        Du kan bruge håndvægtene og ligge i skødet som ekstra vægt.
        Sørg for at komme helt ned og helt og.
        Herefter 10-12 reps i dine hammer curls!"</p>
</div>


<b>Bench Press</b>
<p>4 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/BenchPress.png' %}"
         width="200" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Så skal vi bænkpresse! Du skal have 4 sæt a
        10-12 reps og du skal køre en laangsom excentrisk
        fase! Stig lidt i vægt for hvert sæt."</p>
</div>


<b>Row, Tripod, Dumbbell</b>
<p>3 sæt x 10-12 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/RowTripod_Dumbbell.png' %}"
         width="220" height="180" alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Her skal du ramme 10-12 reps du kan støtte med
        modsatte hånd på sofalæn eller stol.
        Træk med dine albuer her og squeeze i dine lats på toppen
        og sørg for at kontrollér den excentriske fase på vej ned,
        og lad dine lats komme helt ned og "hænge" inden du trækker op igen."</p>
</div>



<b>Superset</b>
<p>4 runder<br>
Push Up: 4 sæt x reps<br>
Plank: 4 sæt x 1 min</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/Dip_TwoBenches.png' %}"
         width="300" height="180" alt="sometext" />
</div>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/HammerCurl_Standing.png' %}"
          width="200" height="180"
         alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "I dag starter vi med armene.
        Jeg har skrevet 0-20 reps fordi jeg vil have du skal tage så mange du overhovedet kan!
        Brug sofaen og en stol f.eks. eller 2 stole.
        Du kan bruge håndvægtene og ligge i skødet som ekstra vægt.
        Sørg for at komme helt ned og helt og.
        Herefter 10-12 reps i dine hammer curls!"</p>
</div>

<b>Calf Raise, Single Leg, Bodyweight</b>
<p>4 sæt x 10-25 reps</p>
<div class="img-with-text">
    <img src="{% static '/images/workout_illustration/CalfRaise.png' %}"
         width="200" height="150"  alt="sometext" />
    <p style="word-wrap: break-word; max-width: 50ch; color:rgb(170,170,170);">
        "Sidste for i dag.
        Det er til dine lægge og hvis du har en step-up
        bænk eller andet du kan træde op på så endelig!
        Sørg for at du kommer HELT op og squeezer i din læg på
        toppen af hvert rep & kommer HELT ned og strækker din læg HELT ud.
        Det er en god idé som jeg nævnte tidligere at du
        finder noget at træde "op på" fordi så ville du kunne komme ned og strække din læg helt ud!
        Så mange reps du kan på første ben, så skifter du tager samme reps, direkte tilbage til første ben & så videre!
        4 sæt på hver læg uden pause imellem!</p>
</div>



{% endblock content %}