<body oncontextmenu='return false' class='snippet-body'>
<div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold">Overview</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SET</th>
                    <th scope="col">PREVIOUS</th>
                    <th scope="col">KG</th>
                    <th scope="col">REPS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-blue">
                    <td class="pt-3 mt-1">10</td>
                    <td class="pt-3">11</td>
                    <td class="pt-3">15</td>
                    <td class="pt-3">33</td>
                </tr>
                <tr id="spacing-row2">
                    <td></td>
                </tr>
                <tr class="bg-blue">
                    <td class="pt-3">2020</td>
                    <td class="pt-3">11</td>
                    <td class="pt-3">15</td>
                    <td class="pt-3">33</td>
                </tr>
                <tr id="spacing-row3">
                    <td></td>
                </tr>
                <tr class="bg-blue">
                    <td class="pt-3">10</td>
                    <td class="pt-3">11</td>
                    <td class="pt-3">15</td>
                    <td class="pt-3">33</td>
                </tr>
                <tr id="spacing-row4">
                    <td></td>
                </tr>
                <tr class="bg-blue">
                    <td class="pt-3">12</td>
                    <td class="pt-3">13</td>
                    <td class="pt-3">15</td>
                    <td class="pt-3">33</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type='text/javascript'></script>
</body>