{% load workout_extras %}
<body oncontextmenu='return false' class='snippet-body' >
   <div class="container rounded mt-5 bg-white p-md-5">
      {% get_by_name exercise_name as form %}
      <div class="table-responsive">
         <form method="POST" id="id_{{ exercise_name1 }}_{{ exercise_name2 }}">
            {% csrf_token %}
            <input type="hidden" name="{{ exercise_name1 }}_{{ exercise_name2 }}-ExerciseName1" value="{{ exercise_name1 }}">
            <input type="hidden" name="{{ exercise_name1 }}_{{ exercise_name2 }}-ExerciseName2" value="{{ exercise_name2 }}">
            <table class="table" >
               <thead>
                  <tr>
                     <th scope="col">SET</th>
                     <th scope="col">PREVIOUS</th>
                     <th scope="col">{{ exercise_name1 }} (kg)</th>
                      {% if SuperSet == "yes" %}
                     <th scope="col">{{ exercise_name2}} (kg)</th> <!-- Add this column conditionally -->
                     {% endif %}
                     <th scope="col">AI reps counter*</th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="bg-blue">
                     <td class="pt-3 mt-1">1</td>
                     <td class="pt-3">11</td>
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set1Weight1" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set1Weight1" value="{{ form.Set1Weight1.value|default_if_none:''  }}" style="color:black;" />
                         {% if form.errors.Set1Weight1 %}
                        <div class="alert alert-danger">{{ form.errors.Set1Weight1 }}</div>
                        {% endif %}
                     </td>
                      {% if SuperSet == "yes" %}
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set1Weight2" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set1Weight2" value="{{ form.Set1Weight2.value|default_if_none:''  }}" style="color:black;" />
                        {% if form.errors.Set1Weight2 %}
                        <div class="alert alert-danger">{{ form.errors.Set1Weight2 }}</div>
                        {% endif %}
                     </td>
                     {% endif %}
                     <td class="pt-3">15</td>
                  </tr>
                  <tr id="spacing-row2">
                     <td></td>
                  </tr>
                  <tr class="bg-blue">
                     <td class="pt-3">2</td>
                     <td class="pt-3">11</td>
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set2Weight1" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set2Weight1" value="{{ form.Set2Weight1.value|default_if_none:'' }}"  style="color:black;" />
                        {% if form.errors.Set2Weight1 %}
                        <div class="alert alert-danger">{{ form.errors.Set2Weight1 }}</div>
                        {% endif %}
                     </td>
                      {% if SuperSet == "yes" %}
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set2Weight2" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set2Weight2" value="{{ form.Set2Weight2.value|default_if_none:''  }}" style="color:black;" />
                        {% if form.errors.Set2Weight2 %}
                        <div class="alert alert-danger">{{ form.errors.Set2Weight2 }}</div>
                        {% endif %}
                     </td>
                     {% endif %}
                     <td class="pt-3">15</td>
                  </tr>
                  <tr id="spacing-row3">
                     <td></td>
                  </tr>
                  <tr class="bg-blue">
                     <td class="pt-3">3</td>
                     <td class="pt-3">11</td>
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set3Weight1" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set3Weight1" value="{{ form.Set3Weight1.value|default_if_none:'' }}"  style="color:black;" />
                        {% if form.errors.Set3Weight1 %}
                        <div class="alert alert-danger">{{ form.errors.Set3Weight1 }}</div>
                        {% endif %}
                     </td>
                      {% if SuperSet == "yes" %}
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set3Weight2" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set3Weight2" value="{{ form.Set3Weight2.value|default_if_none:''  }}" style="color:black;" />
                        {% if form.errors.Set3Weight2 %}
                        <div class="alert alert-danger">{{ form.errors.Set3Weight2 }}</div>
                        {% endif %}
                     </td>
                     {% endif %}
                     <td class="pt-3">15</td>
                  </tr>
                  <tr id="spacing-row4">
                     <td></td>
                  </tr>
                  <tr class="bg-blue">
                     <td class="pt-3">4</td>
                     <td class="pt-3">18</td>
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set4Weight1" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set4Weight1" value="{{ form.Set4Weight1.value|default_if_none:'' }}"  style="color:black;" />
                        {% if  form.errors.Set4Weight1  %}
                        <div class="alert alert-danger">{{ form.errors.Set4Weight1 }}</div>
                        {% endif %}
                     </td>
                      {% if SuperSet == "yes" %}
                     <td>
                        <input id="id_{{ exercise_name1 }}_{{ exercise_name2 }}-Set4Weight2" type="text" name="{{ exercise_name1 }}_{{ exercise_name2 }}-Set4Weight2" value="{{ form.Set4Weight2.value|default_if_none:''  }}" style="color:black;" />
                        {% if form.errors.Set4Weight2 %}
                        <div class="alert alert-danger">{{ form.errors.Set4Weight2 }}</div>
                        {% endif %}
                     </td>
                     {% endif %}
                     <td class="pt-3">15</td>
                  </tr>
               </tbody>
               <tfoot>
                  <tr>
                     <td colspan="4">
                        <button class="btn btn-primary" type="submit" name="{{ exercise_name1 }}_{{ exercise_name2 }}-submit">Submit</button>
                     </td>
                  </tr>
               </tfoot>
            </table>
         </form>
      </div>
      <script type='text/javascript'></script>
      {% if message.extra_tags == exercise_name1 %}
         {{ exercise_name2 }}
      {% endif %}
      <div id="{{ exercise_name1 }}_{{ exercise_name2 }}-messages">
         {% include 'includes/message.html' %}
      </div>
   </div>
</body>